<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C Panel Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/cdash.css">
</head>

<body>

    <div class="mainContainer d-flex justify-content-start">


    <div class="side-bar" id="side-bar">

      <div class="main-item ms-3 pt-4 d-flex justify-content-start align-items-center">
        <i id="dash-btn" class="fa-solid fa-bars dash-icon"></i>
        <a href="/cdash" class="menu-itemz">
        <p id="def4" class="def text-light ms-3 pt-2 fw-bold">Dashboard</p>
        </a>
    </div>
   
        


        <a href="/admissionc" class="d-block menu-itemz">
          <div class="items mt-5 d-flex justify-content-start">
              <i class="fa-solid fa-book ms-3"></i>
              <p id="def" class="def">Admission</p>
          </div>
        </a>

        <a href="/trainingc" class="d-block menu-itemz">
          <div class="items d-flex justify-content-start">
              <i class="fa-regular fa-pen-to-square ms-3"></i>
              <p id="def1" class="def">Training</p>
          </div>
        </a>
        <a href="" class="d-block menu-itemz">
          <div class="items d-flex justify-content-start">
            <i class="fa-solid fa-business-time ms-3"></i>
              <p id="def2" class="def">Job</p>
          </div>
        </a>
        <a href="" class="d-block menu-itemz">
          <div class="items d-flex justify-content-start">
            <i class="fa-brands fa-squarespace ms-3"></i>
              <p id="def3" class="def">Others</p>
          </div>
        </a>






    </div>




    <div id="right-content" class="contents">
        <div class="header">
            <div class="logo d-flex align-items-center">
                <div class="imgs d-flex align-items-center">
                    <img src="img/online-learning.png" alt="">
                </div>
                <p class="display-6 fs-4 text-muted ms-2">Career Express</p>
            </div>
        </div>
        <div class="content2">



            <div class="tables mt-5">
            <p class="text-muted display-6 fs-3">Training Posts</p>




                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Catagory</th>
                            <th scope="col">Area</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <% postData.forEach(function(admission){ %>

                            <% let d = admission.date.toISOString(); %>
                            <% let dStr = ""; 
                            for(let x=0;x<10;x++){ 

                                dStr+=d[x]; 
                                } %>
                            

                          
                            <td><%= dStr %></td>
                            <td><%= admission.catagory %></td>
                            <td><%= admission.area %></td>
                            <td><%= admission.description %></td>
                            <td><%= admission.status %></td>
                            <td>
                              <a href="" class="btn btn-success btn-sm">Approve</a>
                              <a href="" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                            </td>
                          </tr>

                          <% }) %>
                         
                      
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="js/dashboard.js"></script>
</body>

</html>